<header id="nav" class="header">
  <div class="wrapper">
    <div class="hdr-nav">
      <div class="hdr-el">
        <a href="#nav-mission">
          <div id="mission-bar" class="highlight-nav hide-mob"></div>
          <span class="nav-btn">component</span>
        </a>
      </div>

      <div class="hdr-el">
        <a href="#nav-clients"
          ><div id="clients-bar" class="highlight-nav hide-mob"></div>
          <span class="line nav-btn">component</span>
        </a>
      </div>
      <div class="hdr-el">
        <a href="#nav-products"
          ><div id="products-bar" class="highlight-nav hide-mob"></div>
          <span class="line nav-btn">component</span></a
        >
      </div>
      <div class="hdr-el">
        <a href="#nav-contact"
          ><div id="contact-bar" class="highlight-nav hide-mob"></div>
          <span class="line nav-btn ">component</span></a
        >
      </div>
    </div>
    <div class="hdr-menu" data-menu-btn>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
