<header id="nav" class="header">
  <div class="wrapper">
    <div class="hdr-nav">
      <div class="hdr-el">
        <a href="#">
          <span class="nav-btn">component</span>
        </a>
      </div>

      <div class="hdr-el">
        <a href="#">
          <span class="line nav-btn">component</span>
        </a>
      </div>
      <div class="hdr-el">
        <a href="#"> <span class="line nav-btn">component</span></a>
      </div>
      <div class="hdr-el">
        <a href="#t"> <span class="line nav-btn ">component</span></a>
      </div>
    </div>
    <div class="hdr-menu" data-menu-btn>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
