.header {
  z-index: 100;
  width: 100%;
  height: 100px;
  padding-top: $space;
  position: fixed;
  overflow: hidden;
  transition: 0.5s;

  @include max-media($bpoint-desk) {
    height: 120px;
    body.open-menu & {
      z-index: 9999999;
      background-color: rgba(112, 112, 112, 0.9);
      height: 100vh;
      position: fixed;
      .nav-btn {
        display: block;
      }
    }
  }
}

.hdr-nav {
  display: flex;
  flex-direction: column;
  font-size: $font-size-h5;
  padding-top: $space * 4;
  padding-bottom: $space;
  color: $color-2;
  font-weight: $fw-normal;
  @media (min-width: $bpoint-desk) {
    display: inline-block;
  }

  .nav-btn {
    display: none;
    transition: all 0.5s;
    color: $color-2;
    text-transform: uppercase;
    cursor: pointer;
    padding: $space * 0.5 $space;
    display: inline-block;
    a {
      display: block;
    }
    &:hover {
      color: $color-1;
      background-color: rgba(242, 242, 242, 0.5);
    }
  }

  @media (min-width: $bpoint-desk) {
    position: absolute;
    padding-top: 0px;
    left: $space * 7;
    font-size: $font-size-h5;
    .line {
      margin: -2px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    .hide-hdr {
      display: none;
      position: absolute;
    }
  }
}
.hdr-el {
  margin: auto;
  @media (min-width: $bpoint-desk) {
    display: inline-block;
  }
}

.hdr-menu {
  position: absolute;
  top: 10px;
  right: $space;
  width: $space;
  height: $space;
  cursor: pointer;
  @media (min-width: $bpoint-desk) {
    display: none;
  }
  span {
    display: block;
    background-color: $white;
    width: $space * 0.75;
    height: $space * 0.125;
    margin: $space * 0.125;
    box-shadow: 0 1px 2px 0 rgba($black, 0.3);
  }
}
